
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900;100;300;400;500;700;900&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}
.bg-container {
  @apply bg-gradient-to-r from-0% from-[#FAFAFA] to-[#FCFCFC] to-100%;
}

.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}

header, nav{
  z-index: 10001 !important;
}

.subtitle{
  @apply text-red-700 uppercase tracking-wide font-semibold text-lg;
}

.title{
  @apply text-4xl md:text-5xl md:leading-snug font-bold my-2;
}

.active {
  @apply underline underline-offset-4 font-semibold
}

::-webkit-scrollbar {
  @apply hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 5px;
}

.cta-button:hover {
  background: #0056b3;
}
